{{define "Index"}}

{{template "_head"}}

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {{template "_navbar"}}

    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Menu</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/new-book">New Book</a>
      </nav>
    </div>

    <main class="mdl-layout__content">
      <div class="page-content">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="margin: auto">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Name</th>
              <th class="mdl-data-table__cell--non-numeric">Author</th>
              <th>Unit price</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            {{range .}}
            <tr>
              <td class="mdl-data-table__cell--non-numeric">{{.Title}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{.Author}}</td>
              <td>${{.Price}}</td>
              <td style="padding-right: 0px;"><a href="/edit-book?id={{.ID}}">
                  <button id="edit-btn" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">edit</i>
                  </button>
                  <div class="mdl-tooltip" data-mdl-for="edit-btn">
                    Edit
                  </div>
                </a></td>
              <td style="padding-left: 0px;"><a onclick="onDelete({{.ID}})">
                  <button id="delete-btn" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">delete</i>
                  </button>
                  <div class="mdl-tooltip" data-mdl-for="delete-btn">
                    Delete
                  </div>
                </a></td>

            </tr>
            {{end}}
            </tr>
          </tbody>
        </table>
      </div>

      <button onclick="window.location.href='/new-book'"
        class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
        style="position: fixed; bottom: 45px; right: 45px;">
        <i class="material-icons">add</i>
      </button>
    </main>
  </div>
</body>

<script>
  function onDelete(id) {
    let response = confirm("Are you sure?")
    if (response) {
      window.location = "/delete?id=" + id
    }
  }
</script>

</html>
{{end}}